* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.App {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.timer {
  padding: 20px;
}

.checkpoints {
  width: 600px;
  margin: 0 auto;
}

.checkpoint {
  display: flex;
  justify-content: space-around;
}